*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Raleway', sans-serif;
    font-size: .87rem;
    font-weight: 400;
    box-sizing: border-box;
}
h1{
    font-size: 2.25rem;
}
h2{
    font-size: 1.5rem;
}
.custom-nav{
    background-color: #34495e;
    opacity: 0.8;
}
#navbarNav ul li a{
    color:#fff;
    text-transform: uppercase;
    transition: all 0.3s ease-in;
    }
#navbarNav ul li a:hover{
        color:#e74e3c;
    }
.nav-item{
   text-align: right;
}
@media (max-width: 576px){
    .logo{
        width: 150px;
    }
    .carousel-inner img{
        height: 50vh;
    }
    .custom-nav{
        opacity: 0.5;
    }
}
.slider-section__overlay{
        position: absolute;
        background: linear-gradient(to bottom right, rgba(0,0,0,1), rgba(0,0,0,0));
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
    }
.slider-section__caption{
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);
        width: 80%;
    }
.slider-section__caption-title{
            color: #ec3d30;
        }
.slider-section__caption-btn{
            display:inline-block;
            font-size: 1.5rem;
            color: #fff;
            line-height: 50px;
            width: 272px;
            background: #ec3d30;
            height: 50px;
            padding-top: auto;
            text-decoration: none;
        }
.slider-section__caption-btn:hover{
                text-decoration:none;
                color: #fff;
            }
.slider-section__caption-btn:last-child{
          background: #5768ad;
          margin-left: 10px;
      }
.service-section{
    background: #ffffff;
}
.service-section__heading{
        margin-top: 69px;
    }
.service-section__content-row{
        margin-top: 60px;
        color: #000000;
        font-size: .87rem;
    }
.service-section__content-row i{
            font-size: 1.5rem;
        }
.portfolio-section{
    background-image: url('../../assets/images/work-bg.png');
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 100px;
}
.portfolio-section__container{
        margin-top: 50px;
    }
.portfolio-section__img{
        margin: 0 20%;
        position: relative;
        height: 222px;
        width: 265px !important;
    }
.portfolio-section__img img{
        height: 100%;
        width: 100%;
    }
.portfolio-section__hover{
        position: absolute;
        top:0;
        left: 0;
        background-color: #000;
        height: 100%;
        width: 100%;
        opacity: 0;
        color: #fff;
        text-align: center;
        cursor: pointer;
        transition: all .5s ease-in;
    }
.portfolio-section__hover h2{
            text-decoration: none;
            color: #fff;
            position: absolute;
            top: 40%;
            left: 50%;
            -webkit-transform: translate(-50%,-40%);
                    transform: translate(-50%,-40%);
        }
.portfolio-section__hover a{
            text-decoration: none;
            color: #fff;
            position: absolute;
            top: 55%;
            left: 50%;
            -webkit-transform: translate(-55%,-50%);
                    transform: translate(-55%,-50%);
        }
.portfolio-section__img:hover .portfolio-section__hover{
        opacity: 0.5;
    }
.slick-prev{
    left: 44%;
    z-index: 1;
}
.slick-next{
    right: 48%;
}
.slick-prev, .slick-next{
    top: 110%;
    width: 40px;
}
.slick-prev::before, .slick-next::before{
    font-size: 40px;
}
/* for smartphones */
@media (min-width: 320px) and (max-width: 480px){
    .portfolio-section__img{
        margin-left: 50px;
    }
    .portfolio-section__img img{
        margin-left: 0;
    }

    .slick-prev{
        left: 36%;
        z-index: 1;
    }
    .slick-next{
        right: 37%;
    }

    .slick-prev, .slick-next{
        top: 110%;
        width: 60px;
    }
}
/* for tablets */
@media (min-width: 768px) and (max-width: 1024px){
    .portfolio-section__img img{
        /* width: 250px;
        height: 250px; */
        /* margin-left: -20px; */
    }

    .slick-prev{
        left: 45%;
        z-index: 1;
    }
    .slick-next{
        right: 42%;
    }

    .slick-prev, .slick-next{
        top: 110%;
        width: 60px;
    }
}
