.portfolio-section{
    background-image: url('../../assets/images/work-bg.png');
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 100px;

    &__container{
        margin-top: 50px;
    }

    &__img{
        margin: 0 20%;
        position: relative;
        height: 222px;
        width: 265px !important;
    }
    &__img img{
        height: 100%;
        width: 100%;
    }
    &__hover{
        position: absolute;
        top:0;
        left: 0;
        background-color: #000;
        height: 100%;
        width: 100%;
        opacity: 0;
        color: #fff;
        text-align: center;
        cursor: pointer;
        transition: all .5s ease-in;
        h2{
            text-decoration: none;
            color: #fff;
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%,-40%);
        }

        a{
            text-decoration: none;
            color: #fff;
            position: absolute;
            top: 55%;
            left: 50%;
            transform: translate(-55%,-50%);
        }
    }

    &__img:hover &__hover{
        opacity: 0.5;
    }
}

.slick-prev{
    left: 44%;
    z-index: 1;
}
.slick-next{
    right: 48%;
}
.slick-prev, .slick-next{
    top: 110%;
    width: 40px;
}

.slick-prev::before, .slick-next::before{
    font-size: 40px;
}

/* for smartphones */
@media (min-width: 320px) and (max-width: 480px){
    .portfolio-section__img{
        margin-left: 50px;
    }
    .portfolio-section__img img{
        margin-left: 0;
    }

    .slick-prev{
        left: 36%;
        z-index: 1;
    }
    .slick-next{
        right: 37%;
    }

    .slick-prev, .slick-next{
        top: 110%;
        width: 60px;
    }
}

/* for tablets */
@media (min-width: 768px) and (max-width: 1024px){
    .portfolio-section__img img{
        /* width: 250px;
        height: 250px; */
        /* margin-left: -20px; */
    }

    .slick-prev{
        left: 45%;
        z-index: 1;
    }
    .slick-next{
        right: 42%;
    }

    .slick-prev, .slick-next{
        top: 110%;
        width: 60px;
    }
}
