.team-section{
    padding-bottom: 100px;

    &__container{
        margin-top: 50px;
    }

    &__img{
        margin: 0 20%;
        position: relative;
        height: 222px;
        width: 265px !important;
    }
    &__img img{
        height: 100%;
        width: 100%;
    }
    &__hover{
        position: absolute;
        top:0;
        left: 0;
        background-color: #4f0c0b;
        height: 100%;
        width: 100%;
        opacity: 0;
        color: #fff;
        text-align: center;
        cursor: pointer;
        transition: all .5s ease-in;
        h2{
            font-size: 1.125rem;
            font-weight: bold;
            color: #b53127;
            margin-top: 5%;
        }
        h3{
            font-size: 1.125rem;
            font-weight: 400;
            color: #5764a6;
        }
        p{
            font-size: 0.87rem;
            font-weight: normal;
        }

        a{
            text-decoration: none;

             i{
                font-size: 30px;
                margin: 5px;
             }
             .fa-facebook{
                 color: #1235f8;
             }
             .fa-google-plus-square{
                 color: #ff4444;
             }
        }
    }

    &__img:hover &__hover{
        opacity: 0.9;
    }
}

.slick-prev{
    left: 44%;
    z-index: 1;
}
.slick-next{
    right: 48%;
}
.slick-prev, .slick-next{
    top: 110%;
    width: 40px;
}

.slick-prev::before, .slick-next::before{
    font-size: 40px;
    color: #000000;
}

/* for smartphones */
@media (min-width: 320px) and (max-width: 480px){
    .team-section__img{
        margin-left: 50px;
    }
    .team-section__img img{
        margin-left: 0;
    }

    .slick-prev{
        left: 36%;
        z-index: 1;
    }
    .slick-next{
        right: 37%;
    }

    .slick-prev, .slick-next{
        top: 110%;
        width: 60px;
    }
}

/* for tablets */
@media (min-width: 768px) and (max-width: 1024px){
    .slick-prev{
        left: 45%;
        z-index: 1;
    }
    .slick-next{
        right: 42%;
    }

    .slick-prev, .slick-next{
        top: 110%;
        width: 60px;
    }
}
